@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.eot?w118d');
	src:url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-heart:before {
	content: "\e813";
}
.lnr-alarm:before {
	content: "\e858";
}
.lnr-envelope:before {
	content: "\e818";
}
.lnr-cart:before {
	content: "\e82e";
}
.lnr-briefcase:before {
	content: "\e84c";
}
.lnr-cloud-download:before {
	content: "\e80b";
}
.lnr-smile:before {
	content: "\e854";
}
.lnr-users:before {
	content: "\e82b";
}
.lnr-license:before {
	content: "\e822";
}
.lnr-magic-wand:before {
	content: "\e803";
}
.lnr-lock:before {
	content: "\e80f";
}
.lnr-chart-bars:before {
	content: "\e843";
}
.lnr-leaf:before {
	content: "\e849";
}
.lnr-phone:before {
	content: "\e831";
}
.lnr-bubble:before {
	content: "\e83f";
}
.lnr-clock:before {
	content: "\e864";
}
.lnr-eye:before {
	content: "\e81b";
}