@import "vars";
@import "global";
@import "fonts";

.header__top {
    background-color: #eef1f3;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
    &-btn {
        margin-left: auto;
        margin-right: 50px;
        a {
            color: #ffffff;
            border-radius: 18px;
            background-color: $blue;
            font-size: 14px;
            padding: 12px 18px;
        }
    }
    &-icons{
        max-width: 122px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 45px;
    }
    &-bell {
        position: relative;
        &::before{
            content: "\e858";
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 20px;
            left: 0;
            bottom: 50%;
            transform: translateY(50%);
            color: #7e8fa1;
            cursor: pointer;
        }
    }
    &-mail {
        position: relative;
        &::before{
            content: "\e818";
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 20px;
            left: 0;
            bottom: 50%;
            transform: translateY(50%);
            color: #7e8fa1;
            cursor: pointer;
        }
    }
    &-cart {
        position: relative;
        &::before{
            content: "\e82e";
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 20px;
            left: 0;
            bottom: 50%;
            transform: translateY(50%);
            color: #7e8fa1;
            cursor: pointer;
        }
    }
    .header__top-mail {
    }
    .header__top-cart {
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-avatar {
        margin: 0 22px;
    }
    &-name {
        a {
            display: block;
            color: #333333;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
        }
        span {
            color: #0674ec;
            font-weight: 400;
        }
    }
}
.header__menu {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
    &-list {
        li {
            display: inline-block;
            a {
                color: #333333;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 15px;
                transition: all 0.3s;
                &:hover {
                    color: $blue;
                }
            }
        }
        li + li {
            margin-left: 33px;
        }
    }
    &-search {
        max-width: 360px;
        position: relative;
        width: 100%;
        input {
            border: 1px solid #d9dfe5;
            display: block;
            width: 100%;
            min-height: 46px;
            padding: 10px 85px 10px 25px;
            border-radius: 23px;
            outline: none;
            &::placeholder {
                color: #898f96;
                font-size: 15px;
                font-weight: 400;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $blue;
            min-height: 46px;
            padding: 0 27px;
            border: none;
            border-radius: 23px;
            outline: none;
        }
    }
}
.view {
    background-color: #441c7c;
    min-height: 726px;
    color: #f3f3f8;
    text-align: center;
    padding: 160px 15px 120px;
    margin-bottom: 100px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        min-height: 135px;
        max-width: 1110px;
        width: 100%;
        bottom: -54px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0.5;
        border-radius: 6px;
    }
    &::after {
        content: "";
        position: absolute;
        background-color: #fff;
        min-height: 135px;
        max-width: 1080px;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -41px;
        opacity: 0.5;
        border-radius: 6px;
    }
    &__title {
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 38px;
        div {
            font-weight: 400;
        }
    }
    &__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 68px;
    }
    &__btn {
        font-size: 16px;
        font-weight: 400;
        a {
            padding: 21px 0;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border-radius: 28px;
            margin: 0 30px;
            width: 190px;
            transition: all 0.5s;
        }
        &-view {
            color: $blue;
            background-color: #fff;
            &:hover {
                background-color: transparent;
                color: #fff;
                border: 1px solid #ffffff;
            }
        }
        &-popular {
            background-color: transparent;
            color: #ffffff;
            border: 1px solid #ffffff;
            &:hover {
                background-color: #ffffff;
                color: $blue;
            }
        }
    }
    &__search-box {
        position: absolute;
        bottom: -67px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        min-height: 135px;
        max-width: 1140px;
        display: flex;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        z-index: 1;
        padding: 0 40px;
        form {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        input {
            max-width: 614px;
            width: 100%;
            min-height: 55px;
            padding: 5px 29px;
            border-radius: 4px 0 0 4px;
            border: 1px solid #dcdcdc;
            &:focus {
                outline: none;
            }
        }
        select {
            height: 100%;
            width: 193px;
            padding: 0 20px;
            min-height: 55px;
            border-radius: 0 4px 4px 0;
            border: 1px solid #dcdcdc;
            border-left: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        button {
            background-color: $blue;
            font-size: 16px;
            font-weight: 400;
            padding: 21px 67px;
            color: #fff;
            border-radius: 4px;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    &__select-box {
        margin-right: auto;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/icons/arrow-down.png);
            width: 13px;
            height: 8px;
            right: 21px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.about {
    padding: 86px 121px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 362px;
        padding: 41px 35px 49px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
            transform: scale(1.1);
        }
        &-img {
            margin-bottom: 38px;
            img {
                height: 112px;
            }
        }
        &-title {
            margin-bottom: 34px;
            font-size: 24px;
            color: #010101;
            font-weight: 400;
        }
    }
}
.weekly {
    padding: 120px 0;
    background-color: #eff1f5;
    &__title-arrows {
        margin-left: auto;
        width: 110px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 23px;
        display: inline-block;
    }
    &__item {
        width: 100%;
        box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
        &-inner {
            display: flex;
            justify-content: space-between;
        }
        &-img {
            max-width: 555px;
            width: 100%;
            min-height: 450px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            &:hover .global__item-btn {
                opacity: 1;
                height: 100%;
                a {
                    margin: 30px;
                }
            }
        }
        &-info {
            padding: 50px 50px 25px;
            background-color: #fff;
            width: 100%;
        }
        &-title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        &-text {
            max-width: 475px;
            padding-bottom: 35px;
        }
        &-category {
            margin-bottom: 43px;
            button {
                color: $category;
                border-radius: 14px;
                background-color: #f1f3f6;
                padding: 7px 14px;
                border: none;
            }
        }
        &-rating {
            padding: 23px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #ececec;
        }
        &-price {
            color: #ffffff;
            background-color: $blue;
            font-size: 15px;
            font-weight: 500;
            padding: 9px 18px;
            border-radius: 16px;
        }
        &-likes {
            margin: 0 19px;
        }
        &-bought {
            margin-right: auto;
        }
    }
}


.slick-arrow {
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 1;
    top: -104px;
    transform: translateY(-50%);
    &:focus {
        outline: none;
    }
}
.slick-prev {
    right: 103px;
}
.slick-next {
    right: 47px;
}
.newest {
    padding: 120px 0;
    background-color: #f6f7fb;
    &__title {
        margin-bottom: 30px;
    }
    &__select-box {
        position: relative;
        display: flex;
        align-items: center;
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;
            padding-right: 30px;
            color: $category;
            font-size: 16px;
            font-weight: 400;
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/icons/filter-dots.png);
            width: 5px;
            height: 20px;
            right: 0;
            top: 0;
        }
    }
    &__categories {
        padding: 30px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        margin-bottom: 50px;
        button {
            border: none;
            background-color: #f1f3f6;
            color: $category;
            padding: 7px 19px;
            border-radius: 16px;
            & + button {
                margin-left: 5px;
            }
            &.mixitup-control-active {
                background-color: $blue;
                color: #ffffff;
            }
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 28px;
    }
    
    &__new-products {
        text-align: center;
        button {
            font-size: 16px;
            color: #ffffff;
            font-weight: 400;
            background-color: $blue;
            padding: 22px 39px;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
        }
    }
}


.followers{
    padding: 120px 0;
    background-color: #eff1f5;
    &__slider{
        .slick-arrow{
            width: 56px;
            background-color: $blue;
            padding: 15px 0;
        }
        .slick-prev{
            border-radius: 50% 0 0 50%;
        }
        .slick-next{
            border-radius: 0 50% 50% 0;
        }
    }
    .slick-list{
        width: 100%;
        border-radius: 4px;
        .slick-slide + .slick-slide{
            margin-right: 28px;
        }
    }
}


@import "media";
